@media screen and (max-width: 991px) {

    .primary-btn {
        background-color: #FF731D;
        border-radius: 8px;
        font-weight: 600;
        color: white !important;
        padding: 12px 18px;
        transition: 0.2s ease-out;
    }

    .left-header h1 {
        font-size: 2.4rem;
    }

    .left-header p {
        font-size: 1rem;
    }

    .services-section {
        margin-block: 20px;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-right: 50px;
    }

    /* .services{
        width: 100%;
    } */

    .service p {
        font-size: 0.8rem;
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
        width: 400px;
        padding: 20px;
        background-color: #1746A2;
        color: aliceblue;
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }

    .btn:hover {
        color: white;
        border-color: #FF731D;
        transform: translateY(-15px);
    }

    .ltask img {
        width: 500px;
    }

    .rtask h2 {
        margin-bottom: 10px;
        font-size: 2rem;
    }

    .rtask p {
        margin-block: 10px;
    }

    .rtask h3 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .main-nav {
        justify-content: space-between;
    }

    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .main-nav {
        overflow: initial;
    }

    .nav-links {
        position: absolute;
        background-color: #3059acd2;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    }

    .nav-bar {
        flex-direction: column;
    }

    .nav-links.active {
        left: 0;
    }

    .service p {
        font-size: 0.7rem;
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
        width: 300px;
        padding: 20px;
        background-color: #1746A2;
        color: aliceblue;
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }

    .con {
        text-align: center;
        flex-direction: column;
        padding-top: 50px;
        justify-content: space-evenly;
        gap: 20px;
        align-items: center;
    }

    .ltask img {
        width: 350px;
    }
}

@media screen and (max-width: 479px) {
    .header-section {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    header {
        padding: 20px 20px 0;
        background-color: #1746A2;
        height: 90vh;
    }

    .left-header{
        margin-top: 40px;
        max-width: 100%;
        text-align: center;
    }

    .primary-btn {
        text-align: center;
        width: 100%;
        background-color: #FF731D;
        border-radius: 8px;
        font-weight: 600;
        color: white !important;
        padding: 12px 18px;
        transition: 0.2s ease-out;
    }

    .aboutus{
        margin-block: 40px;
        text-align: center;
    }

    .aboutus h2{
        font-size: 2.5rem;
    }

    .services-section{
        margin-block: 20px;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        column-gap: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    .service{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        width: 500px;
        padding: 20px;
        background-color: #1746A2;
        color: aliceblue;
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }

    .con {
        text-align: center;
        flex-direction: column;
        padding-top: 50px;
        justify-content: space-evenly;
        gap: 20px;
        align-items: center;
    }

    .lcon h2{
        font-size: 1.7rem;
    }

    .btn{
        border: 3px solid white;
        text-align: center;
        width: 200px;
        height: 60px;
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 12px 12px;
        color: white;
        transition: 0.2s ease-in-out;
    }

    .task-section{
        flex-direction: column;
    }

    .footer-container{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-column{
        align-items: stretch;
    }

    .sub-container{
        flex-wrap: wrap;
    }
}
