@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1500px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
}

.bucket {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.primary-btn {
    background-color: #FF731D;
    border-radius: 8px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.primary-btn:hover {
    transform: translateX(15px);
}

.secondary-btn {
    border: 1px solid #1746A2;
    border-radius: 8px;
    font-weight: 500;
    padding: 12px 24px;
    color: black;
}

.secondary-btn:hover {
    color: #FF731D;
    border-color: #FF731D;
}

.main-nav {
    padding: 20px;
    justify-content: space-evenly;
    position: relative;
}

.nav-toggle {
    display: none;
}

.company-logo img {
    width: 100px;
    transition: 0.2s ease-out;
}

.company-logo img:hover {
    transform: translateX(15px);
}

nav {
    background-color: #1746A2;
}

.nav-links {
    flex-basis: 100%;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

.hover-links {
    color: white;
    transition: 0.2s ease-out;
}

.hover-links:hover {
    color: #FF731D;
    scale: 1.1;
}

.hover-links:nth-child(5):hover {
    color: #FF731D;
    transform: translateX(10px);
}

header {
    padding: 50px 20px 0;
    background-color: #1746A2;
    height: 90vh;
}

.header-section {
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
}

.left-header {
    max-width: fit-content;
}

.left-header h1 {
    margin-top: 20px;
    font-size: 4.3rem;
    color: white;
}

.left-header p {
    margin-top: 20px;
    font-size: 1.4rem;
    color: white;
}

.subheading {
    color: #577592;
    margin-top: 20px;
    margin-bottom: 40px;
}

.right-header img {
    width: 100%;
}

.get-started-btn {
    margin-top: 20px;
    padding: 18px 30px;
    font-size: large;
}

.aboutus {
    margin-block: 90px;
    text-align: center;
}

.aboutus h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 500;
    line-height: 60px;
    color: #1746A2;
}

.aboutus p {
    font-size: 1rem;
    line-height: 30px;
}

.comp-header {
    color: #183b56;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
}

.company-section {
    margin-top: 40px;
    margin-bottom: 60px;
}

.company-logos {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.logo {
    height: 48px;
}


.services-section {
    margin-block: 40px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    column-gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 500px;
    padding: 20px;
    background-color: #1746A2;
    color: aliceblue;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.service.service:nth-child(1) h2 {

    margin-block: 20px;
    font-size: 2rem;
}

.service:nth-child(1) {
    background-color: white;
    color: black;
}

.service:nth-child(1):hover {
    background-color: white;
    color: black;
    scale: 1;
    box-shadow: 0 0 0 white;
}

.service:hover {
    background-color: #FF731D;
    color: white;
    scale: 1.03;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(63, 62, 62, 0.486);
}

.quote {
    margin-block: 60px;
    background-color: #1746A2;
}

.con {
    /* padding-top: 100px; */
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.btn {
    border: 3px solid white;
    text-align: center;
    width: 200px;
    height: 80px;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 20px 24px;
    color: white;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    color: white;
    border-color: #FF731D;
    transform: translateX(15px);
}

.lcon {
    color: white;
}

.lcon h2 {
    margin-block: 20px;
    font-size: 2.3rem;
}

footer {
    padding-block: 80px;
    background-color: #1746A2;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.link-column h4 {
    color: #FF731D;
}

.sub-footer {
    padding-block: 30px;
    background-color: #2d55a3;
}

.sub-container {
    gap: 30px;
    justify-content: center;
}

.contactus {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 30px;
    background-color: #2294ed;
    border-radius: 25px;
    cursor: pointer;
}

.contactus:hover {
    box-shadow: 0 0 5px black;
}

.ltask img {
    width: 800px;
}

.rtask h2 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.rtask p {
    margin-block: 20px;
}

.rtask h3 {
    margin-bottom: 15px;
}

form {
    background-color: #1746A2;
    color: white;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

form h2 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

textarea {
    height: 120px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #FF731D;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
}

button:hover {
    scale: 1.05;
}